@font-face {
    font-family: "NotoSansKR-Bold"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../서체/NotoSansKR-Bold.otf") format("opentype"); /* 폰트파일 불러오기 */
}

@font-face {
    font-family: "NotoSansKR-Light"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../서체/NotoSansKR-Light.otf") format("opentype"); /* 폰트파일 불러오기 */
}

@font-face {
    font-family: "NotoSansKR-Medium"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../서체/NotoSansKR-Medium.otf") format("opentype"); /* 폰트파일 불러오기 */
}

@font-face {
    font-family: "NotoSansKR-Regular"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../서체/NotoSansKR-Regular.otf") format("opentype"); /* 폰트파일 불러오기 */
}
a {
    text-decoration: none;
}
.mv_information {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 460px;
    background-color: rgba(232, 232, 232, 0.37);
}

.mv {
    padding: 50px 30px;
    margin: 0 auto;
    position: relative;
}

/* 제목 부분 */
.mv_title {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

.mv_title > div > span {
    font-family: "NotoSansKR-Bold";
    font-size: 26px;
}

.mv_title > div > :first-child::after {
    content: "|";
    font-family: "NotoSansKR-Light";
    font-size: 20px;
    padding: 0 15px;
    color: gainsboro;
}

/* 무비차트 */
.movieChart,
.preview {
    display: flex;
    justify-content: space-between;
}

.poster {
    width: 170px;
    height: 294px;
}

.poster > div:first-of-type > .img {
    width: 100%;
    height: 234px;
    border-radius: 15px;
}

.poster > img {
    width: 100%;
    height: 234px;
    border-radius: 15px;
}

.poster > div > p {
    text-align: center;
    font-family: "NotoSansKR-Medium";
    font-size: 20px;
    padding: 5px 0;
}

.poster > p {
    text-align: center;
    font-family: "NotoSansKR-Medium";
    font-size: 20px;
    padding: 5px 0;
}

.percent {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: relative;
    bottom: 0;
}

.percent > div > img {
    width: 16px;
}

.percent > div > span {
    font-family: "NotoSansKR-Light";
    font-size: 10px;
}

.percent > :nth-child(1):after {
    content: "|";
    padding-right: 5px;
    color: gainsboro;
}

/* hover 부분 */
.poster > div:first-of-type {
    position: relative;
    width: 100%;
    height: 234px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster > div:first-of-type > img {
    position: absolute;
    z-index: 100;
}
.poster > div:first-of-type:hover > img {
    z-index: 0;
    opacity: 0.5;
}

.hidden_btn {
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "NotoSansKR-Medium";
}

.hidden_btn > button {
    width: 140px;
    height: 34px;
    border-radius: 4px;
    margin: 0 auto;
}

.hidden_btn > button:first-of-type {
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid white;
}

.hidden_btn > button:first-of-type > a {
    color: gray;
}

.hidden_btn > button:last-of-type {
    background-color: #fb4357;
    border: 1px solid #fb4357;
}

.hidden_btn > button:last-of-type > a {
    color: white;
}
